<h1>Welcome to recipe app!</h1>
<h2>All recipes you can explore</h2>
<div id="recipes" class="menu-recipes" >
  <% @recipes.each do |recipe| %>
    <div class="menu-image">
      <a class="margin-bottom-1rem"><%= recipe.name %></a>
      <%= link_to image_tag(recipe.featured_image.present? ? recipe.featured_image : "default-food-pic.png", class: "child-full-width"), recipe %>
    </div>
  <% end %>
</div>
